<% if @list.errors.present? %>
  <ul>
    <% @list.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end %>
<div class="form container">
  <%= form_for @list do |f| %>
  <div class="form-group">
    <%= f.label :name, "名稱" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, "必須完成時間" %>
    <%= f.text_field :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :note, "其他說明" %>
    <%= f.text_area :note, class: "form-control" %>
  </div>   

    <%= f.submit %>
  <% end %>
</div>